<div class="container-fluid">
  <div class="small-width col-lg-10 offset-lg-1 no-gutters "><h1>Welcome
    <span class="sub-title ">Edit content here</span></h1>
  </div>

  <div class="row">
    <div class="col-3 offset-lg-1">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Content Management</mat-card-title>
          <mat-card-subtitle>You can start to write some content</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button [routerLink]="'./cms/sites'" class="mat-stroked-button" mat-button>START</button>
        </mat-card-actions>
      </mat-card>

      <br/>
      <br/>
      <br/>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>


  </div>
</div>
