<div>
  <ng-content select="div[role=actions]"></ng-content>
  <table [dataSource]="dataSource" mat-table matSort class="tour-list-users">
    <ng-container matColumnDef="username">
      <th *matHeaderCellDef i18n="@@module.main-component.list-users.username" mat-header-cell mat-sort-header>
        Username
      </th>
      <td *matCellDef="let element" mat-cell><a (click)="lineClicked(element)">{{element.username}}</a></td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef i18n="@@module.main-component.list-users.actions" mat-header-cell mat-sort-header
          style="width: 150px"> Actions
      </th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="removeMember(element)" *ngIf="rowActions.indexOf('delete')>-1" color="warn" mat-raised-button>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>
  <mat-paginator #paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

</div>
