<app-content-wrapper [fullWidth]="false " title="Add user"
                     i18n-subTitle="@@module.admin.user.add-subTitle" i18n-title="@@module.admin.user.add-title"
                     iconUrl="assets/theme/scss/themes/img/avatar/img_avatar-user01.jpg" subTitle="Create a new user"
                     [withIcon]="true"
>

  <mat-tab-group color="accent">
    <mat-tab label="Informations">
      <div class="main-container wrapper">
        <form (ngSubmit)="onSubmitForm()" *ngIf="addUserForm" [formGroup]="addUserForm">
      <span *ngIf="errorMessage" class="app-form-error">
       {{errorMessage}}
      </span>
          <div>
            <mat-form-field  class="col app-primary-color-100">
              <input formControlName="username" i18n-placeholder="@@ux.smartbrain.user.field.username" matInput type="email"
                     placeholder="Email of the user"
                     email="true"
                     required>
              <mat-error *ngIf="addUserForm.controls.username.errors" i18n="@@ux.smartbrain.user.field.username.errors">
                The email is required and must be at least 2 characters long.
              </mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="!processing" class="action-button">
            <button (click)="back()" class="mat-stroked-button" i18n="@@module.admin.user.cancel" mat-button type="button">
              Cancel
            </button>
            <button [disabled]="!addUserForm.valid" color="accent" i18n="@@module.admin.user.save" mat-raised-button
                    type="submit">Save
            </button>
          </div>
          <div *ngIf="processing" class="action-button">
            <app-loading-zone></app-loading-zone>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</app-content-wrapper>
