<app-content-wrapper [fullWidth]="true" [title]="'Search platforms'">
  <div class="content-wrapper">
    <div class="action-button-bar topbar" role="actions">
      <button [routerLink]="'add'" color="accent"  mat-button>Add</button>
    </div>
    <table [dataSource]="dataSource" mat-table matSort>
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Id</th>
        <td *matCellDef="let element" mat-cell><a [routerLink]="'edit/'+element.slug.name">{{element.slug.name}}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
        <td *matCellDef="let element" mat-cell><a [routerLink]="'edit/'+element.slug.name">{{element.name}}</a></td>
      </ng-container>
      <ng-container matColumnDef="domain">
        <th *matHeaderCellDef mat-header-cell> Domain</th>
        <td *matCellDef="let element" mat-cell> {{element.domain}} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th *matHeaderCellDef mat-header-cell> Description</th>
        <td *matCellDef="let element" mat-cell> {{element.description}} </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
        <td *matCellDef="let element" mat-cell> {{element.status}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Actions</th>
        <td *matCellDef="let element" mat-cell>
          <button mat-flat-button color="accent" (click)="login(element)" *ngIf="element.domain">
            <mat-icon>input</mat-icon>
            Login
          </button>
          <button mat-icon-button color="accent" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delete(element)" *ngIf="element.status != 'PENDING_DELETION'" >
              <mat-icon>delete</mat-icon>
              Delete
            </button>
            <button mat-menu-item (click)="confirmDelete(element)" *ngIf="element.status == 'PENDING_DELETION'" >
              <mat-icon>delete_forever</mat-icon>
              Delete permanently
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>
    <mat-paginator #paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</app-content-wrapper>
