<h1 mat-dialog-title i18n="@@module.admin.user.resetpass.resetPasswordDialogTitle">Change password</h1>
<div *ngIf="data" mat-dialog-content>
  <mat-form-field class="app-bg-primary-color-100" *ngIf="data?.isOwner" >
    <mat-label i18n="@@module.admin.user.resetpass.oldpasswordlabel">Old password</mat-label>
    <input matInput  [(ngModel)]="data.oldPassword" type="password" />
  </mat-form-field>
  <mat-form-field class="app-bg-primary-color-100" >
    <mat-label i18n="@@module.admin.user.resetpass.newpasswordlabel">New password</mat-label>
    <input matInput [(ngModel)]="data.newPassword"  type="password" />
  </mat-form-field>
  <mat-form-field class="app-bg-primary-color-100">
    <mat-label i18n="@@module.admin.user.resetpass.confirmnewpasswordlabel">Confirm new password</mat-label>
    <input matInput [(ngModel)]="confirmPassword"  type="password"/>
  </mat-form-field>
  <div>
    <mat-checkbox [(ngModel)]="data.isTemporary" i18n="@@module.admin.user.resetpass.istemporarylabel">Temporary password</mat-checkbox>
  </div>
</div>
<div mat-dialog-actions class="action-button">
  <button [mat-dialog-close] mat-stroked-button i18n="@@module.admin.user.resetpass.cancelbutton">Cancel</button>
  <button [mat-dialog-close]="data" cdkFocusInitial mat-flat-button color="accent" i18n="@@module.admin.user.resetpass.changebutton" [disabled]="!isValid()">Change</button>
</div>
