/*$app-bg-color: #03318C;
$app-bg-color-2: #055BA6;
$app-bg-color-3: #ACD1F2;
$app-bg-color-4: #049DD9;
$app-bg-color-5: #F2C6A0;
*/


.container-spaced {
  margin: 20px 0px;
  padding-bottom: 20px;
}


.label-in-table-cell {
  font-weight: bold;
}
