<div class="main-menu-items">
  <div class="li-link hidden-lg"><span class="material-icons">groups</span><a  class="mat-menu-item" i18n="@@ux.superadmin.menu-name.client" mat-menu-item
                                                                                routerLink="/superadmin/clients"
                                                                                routerLinkActive="active border-primary-color-400"
                                                                               [routerLinkActiveOptions]="{exact:true}">Platforms</a></div>
  <div class="li-link hidden-lg"><span class="material-icons">list</span> <a i18n="@@ux.main-menu.menu-name.admin.databases" mat-menu-item
                                                                                 routerLink="/superadmin/clients/databases" class="mat-menu-item"
                                                                                 routerLinkActive="active border-primary-color-400"
                                                                             [routerLinkActiveOptions]="{exact:true}"
  >Databases</a></div>
  <div class="li-link hidden-lg"><span class="material-icons">settings</span><a  i18n="@@ux.main-menu.menu-name.admin.lookAndFeel" mat-menu-item routerLink="admin/custom" class="mat-menu-item"
                                                                                routerLinkActive="active border-primary-color-400">Look and Feel</a></div>
</div>

