.wrapper, body {
  background: #fff !important;
}

table {
  width: 100%;
}

.btn-add {
}

.cancel-button {
  margin-right: 20px;
}

.table-action-col {
  width: 45px;
}

.action-button-bar a {
  margin-right: 5px;
}

.toolbar {
  margin: 10px 0;
}
