<h1>Edit task</h1>
<mat-tab-group color="accent">
  <mat-tab i18n-label="@@ux.fappi-task.tabinfo" label="Informations">
    <br/>
    <section class="form-section container-spaced">
      <h3>{{task.name}}</h3>
      <h4 i18n="@@ux.fappi-task.variables">Variables:</h4>
      <div *ngFor="let propertyKey of propertyKeys">
        <div *ngIf="propertyKey != 'tenant'">
          {{propertyKey == 'chapter' ? 'chapitre' : propertyKey}}: {{task.variables[propertyKey]}}
        </div>
      </div>
    </section>

    <section *ngIf="taskName == 'Validate'" class="form-section container-spaced">
      <mat-form-field>
        <mat-label i18n="@@ux.fappi-task.validateresponse">Validation response:</mat-label>
        <select [(ngModel)]="formData.validationState" matNativeControl required>
          <option i18n="@@ux.fappi-task.validateresponse.validated" value="validated">Validated</option>
          <option i18n="@@ux.fappi-task.validateresponse.notvalidated" value="invalidated">Not Validated</option>
          <option i18n="@@ux.fappi-task.validateresponse.moreinfo" value="askformore">More Informations needed</option>
        </select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea [(ngModel)]="formData.comment" matInput placeholder="Votre commentaire"></textarea>
      </mat-form-field>
      <div class="action-button">
        <button (click)="onDeleteForm()" color="warn" i18n="@@ux.fappi-task.validateresponse.delete" mat-button>Delete
        </button>
        <button (click)="onSubmitForm()" color="accent" i18n="@@ux.fappi-task.validateresponse.save" mat-raised-button>
          Save
        </button>
      </div>
    </section>

    <section *ngIf="formKey == 'validateContribution'" class="form-section container-spaced">
      <h4 i18n="@@ux.fappi-task.validateresponse.responsetitle">Your response:</h4>
      <mat-form-field>
        <mat-label i18n="@@ux.fappi-task.validateresponse">Validation response:</mat-label>
        <select [(ngModel)]="formData.status" matNativeControl required>
          <option i18n="@@ux.fappi-task.validateresponse.validated" value="validated">Validated</option>
          <option i18n="@@ux.fappi-task.validateresponse.notvalidated" value="invalidated">Not Validated</option>
          <option i18n="@@ux.fappi-task.validateresponse.moreinfo" value="askformore">More Informations needed</option>
        </select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea [(ngModel)]="formData.comment" matInput placeholder="Laissez un commentaire"></textarea>
      </mat-form-field>
      <div class="action-button">
        <button (click)="onDeleteForm()" color="warn" i18n="@@ux.fappi-task.validateresponse.delete" mat-button>Delete
        </button>
        <button (click)="onSubmitForm()" color="accent" i18n="@@ux.fappi-task.validateresponse.save" mat-raised-button>
          Save
        </button>
      </div>
    </section>

    <br/>
    <br/>

  </mat-tab>
</mat-tab-group>
