<table [dataSource]="transactions" class="mat-elevation-z8" mat-table>
  <!-- Item Column -->
  <ng-container matColumnDef="item">
    <th *matHeaderCellDef mat-header-cell> Item</th>
    <td *matCellDef="let transaction" mat-cell> {{transaction.item}} </td>
    <td *matFooterCellDef mat-footer-cell> Total</td>
  </ng-container>

  <!-- Cost Column -->
  <ng-container matColumnDef="cost">
    <th *matHeaderCellDef mat-header-cell> Cost</th>
    <td *matCellDef="let transaction" mat-cell> {{transaction.cost | currency}} </td>
    <td *matFooterCellDef mat-footer-cell> {{getTotalCost() | currency}} </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
</table>
