table {
  width: 100%;
}


input.mat-input-element{
  padding: 15px;
  margin-top: -1em;
}

.cancel-button {
  margin-right: 20px;
}

.warning-tab-icon {
  margin-left: 8px;
  color: #ff4a3b;
}

.info-tab-icon {
  margin-left: 28px;
  color: #1a83ff;
}
