<app-content-wrapper fullWidth="true" i18n-subTitle="@@ux.fhir-broker.patient.subtitle"
                     i18n-title="@@ux.fhir-broker.patient.title" subTitle="Find patients in {{orgName}}"
                     title="Search patients">
  <div class="content-wrapper">
    <div class="action-button-bar topbar" role="actions">
      <form [formGroup]="searchParams">
        <mat-form-field  class="app-primary-color-100">
          <mat-label i18n="@@ux.fhir-broker.searchOrganization.filter.name">Name</mat-label>
          <input formControlName="name" i18n-placeholder="@@ux.fhir-broker.searchOrganization.filter.name" matInput
                 placeholder="Name">
        </mat-form-field>
      </form>
    </div>

    <table [dataSource]="dataSource" mat-table matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef i18n="@@ux.fhir-broker.searchOrganization.table.name">Name</mat-header-cell>
        <mat-cell *matCellDef="let entry">
          {{entry.resource.name}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef i18n="@@ux.fhir-broker.searchOrganization.table.type">Type</mat-header-cell>
        <mat-cell *matCellDef="let entry">
          <div *ngFor="let type of entry.resource.type">
            <app-fhir-codeable-concept [value]="type"></app-fhir-codeable-concept>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actionsCol">
        <mat-header-cell *matHeaderCellDef i18n="@@ux.fhir-broker.searchOrganization.table.actions">Actions
        </mat-header-cell>
        <mat-cell *matCellDef="let entry">
          <div role="actions">
            <button (click)="viewOrganization(entry)" color="accent"
                    i18n="@@ux.fhir-broker.searchOrganization.table.show"
                    mat-raised-button>Show
            </button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></mat-header-row>
      <mat-row
        (click)="selectRow(row)"
        *matRowDef="
          let row;
          columns: displayedColumns
        "
      ></mat-row>
    </table>
    <mat-paginator #paginator
                   (page)="goToPage($event)"
                   [length]="length"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize"
    ></mat-paginator>

  </div>


</app-content-wrapper>
