<div class="main-menu-items">
  <div class="li-link hidden-lg"><span class="material-icons">people_alt</span> <a *ngIf="selectedOrg"
                                                                                   class="mat-menu-item"
                                                                                   i18n="@@ux.main-menu.menu-name.medias" mat-button routerLink="media/file/search"
                                                                                   routerLinkActive="active border-primary-color-400">Medias</a>
  </div>
</div>
