.init-database-section{
  margin-top: 20px;
  a{
    margin: 20px auto;
  }
}

.label-encryption{
  text-decoration: underline;
  display: block;
  margin-bottom: 5px;
}
.encryption-section{
  padding-top: 10px;
}
