.main-property {
  font-weight: 500;
  font-size: 16px;
}

.small-property {
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
}

.small-value {
  font-size: 14px;
  padding: 4px;
  background: #fee2d7;
  border-radius: 5px;
  margin-right: 8px;
}

.profil-part {
  padding: 20px;
}

.badge-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-right: 12px;
}
