<div class="header mat-elevation-z1 app-primary-color-400">
  <a mat-button routerLink="contact" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="Contact">assignment_ind</mat-icon>
    <span>Contacts</span></a>
  <a mat-button routerLink="organization" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="Organization">account_balance</mat-icon>
    <span>Organizations</span></a>
  <a mat-button routerLink="conversion" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="Conversion">trending_up</mat-icon>
    <span>Conversion</span></a>
  <a mat-button routerLink="activity" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="Activity">speaker_notes</mat-icon>
    <span>Activity</span></a>
  <a mat-button routerLink="admin" routerLinkActive="active">
    <mat-icon aria-hidden="false" aria-label="Administration">settings_applications</mat-icon>
    <span>Administraction</span></a>
</div>

<router-outlet></router-outlet>
