// FIXME remove ".inner1-graph" related informations.
.img-fluid {
  max-width: 100%;
  height: auto;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 22px;
}

.patient-wrapper {
  background: #fff;

  & .mb-10 {
    margin-bottom: 10px;
  }

  & .pt-15 {
    padding-top: 15px;
  }
  & .pt-50 {
    padding-top: 50px;
  }
  & .pr-0{padding-right: 0}
  & .row-blocs:nth-child(2) {
    padding: 0;
    overflow: hidden
  }

  & .row-blocs {
    padding: 50px;
    display: flow-root;
    position: relative;
    &.first-row   .inner-bloc{
      overflow-y: scroll;
      height: 212px;
    }
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--color-A100);
      border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--color-A200);
    }
    & .col-img-4 {
      width: 29%;
      display: inline-block;
      padding-top: 33px;


      & .inner1-graph {
        background: #fff;
        border-radius: 5px;
        padding: 16px;
        color: #656565;
        margin-bottom: 10px;

        &:last-child{padding: 2px}
        & p{font-size: 13px;margin-bottom: 0;text-align: center}

        & .material-icons {
          font-size: 20px;
          float: left;
          margin-right: 5px;
          color: #3274a8
        }

        & .chiffre {
          color: #656565;
          font-size: 18px;
          float: right;
          display: flex;
          flex-direction: column;
          padding-top: 22px;
          line-height: 19px;

          & .material-icons {
            color: #f2453d
          }
        }

      }
    }

   & .left-cnt{
     float: left;
     padding-bottom: 50px;
     .row.row-mb{
       .no-gutters > .col,  .no-gutters > [class*=col-]{
         padding-right: 5px;
       }
     }
   }
    & .right-cnt{
      float: right;
      padding-left: 0;
    }
  }

  .col-img-4:not(:last-child) {
    margin-right: 22px;
  }

  & .inner-bloc {
    background: #fff;
    border-radius: 4px;
    padding: 16px 25px;
    display: flex;
    flex-direction: column;
    min-height: 255px;

   & p {
      margin-bottom: 0;
      color: #656565;
      font-size: 15px;
      line-height: 19px;
    }

    & h2 {
      color: #3f3f3f;
      font-size: 15px;
      font-weight: bold;
    }
  }
 /* & .mr-2, & .mx-2 {
    margin-right: 50px !important;
  }
*/
  & .mb-3 {
    margin-bottom: 50px !important;
  }

  & .mb-4 {
    margin-bottom: 1.5rem !important;
  }

  & .mr-3 {
    margin-right: 1rem !important;
  }

  & .text-center {
    text-align: center;
    max-width: 22%;
  }

  & table {
    width: 100%;

    & tr:nth-child(even) {
      background-color: #f1f5f9;
    }

    & td {
      text-align: left;
      padding: 8px;
    }
  }

  & .title-champ-p {
    display: table;
    font-weight: bold;
    font-size: 17px;
  }

}

/* ------------------------------ Responsive Media Styles ---------------------------- */

@media only screen and (min-width: 1400px) and (max-width: 1920px) {
  .patient-wrapper .row-blocs .inner-bloc-items {
    height: 363px;
   display: block;
  }
}

@media only screen and (max-width: 1800px){
  .patient-wrapper .row-blocs  .col-img-4{
    & .inner1-graph {
      padding: 15px 10px;
    }
  }
}


@media only screen and (max-width: 1400px){
.patient-wrapper .row-blocs .inner-bloc-items
{
  height: 323px;
 & .col-img-4  .inner1-graph {
    padding: 15px 11px;

    &  .num-g{font-size: 44px;}
    &  .chiffre{padding-top:16px}
  }

  & .left-cnt{
    padding-bottom: 30px;
  }
}

  .content-wrapper .inner-bloc p
  {
    font-size: 13px;
  }
}
@media only screen and (max-width: 122px) {
  .patient-wrapper  .row-blocs  .left-cnt  {
    float: left;
    padding-bottom: 7px;
  }
  .patient-wrapper .pt-50 {
    padding-top: 35px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .inner-text-item p {
    margin-bottom: 0;
    font-size: 13px;
  }
  .inner-bloc-items {
    height: 60vh;
    display: block;
  }
  .num-g  {
    font-size: 48px;
  }
  .patient-wrapper .row-blocs  {
    padding: 35px;
   & .col-img-4  .inner1-graph .chiffre {
      font-size: 16px;
      padding-top: 17px;
    }
    & .pt-50[_ngcontent-rtr-c301] {
      padding-top: 35px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .patient-wrapper .row-blocs{
    & .col-img-4 {
      width: 28%;

     & .inner1-graph {
        padding: 15px 11px;

        & .num-g {
          font-size: 26px;
          padding-left: 15px;
        }

        & .chiffre {
          padding-top: 0;
          line-height: 15px;
          font-size: 12px;
        }
        &:last-child{padding: 3px}

        & p {
          font-size: 12px
        }

      }
    }

    &:nth-child(2){
      padding: 0;
    }
    & .row-mb{padding: 0 15px}
  }

  }


@media only screen and (max-width: 991px) {
  .patient-wrapper {
    & .row-blocs {
      padding-bottom: 0;

      & .inner-bloc {
        margin-bottom: 15px;
        height: auto;

        &.mr-2 {
          margin-right: 0 !important;
        }
      }

    }
  }
}
@media only screen and (max-width: 991px) {
  .patient-wrapper{
    & .text-center {
      max-width: 100%
    }
    &  .row-blocs {
      & .row-mb{margin: 0 15px}
     & .col-img-4  {
        width: 31%;
      }
    }
    & .inner-bloc{
      min-height : 125px
    }
    .mb-3{margin-bottom: 0 !important;}
  }
}

@media only screen and (max-width: 768px){
.patient-wrapper .row-blocs  .col-img-4 {
  width: 100%;
  margin: 0;
}
}
@media only screen and (max-width: 479px) {
  .patient-wrapper {
  .row-blocs{padding: 20px;}
    .col-img-4 :not(:last-child) {
      margin: 0 1%;
    }
  }

  .content-wrapper .row-blocs{

    .col-img-4{
      width: 100%;
      padding: 7px;

      & .inner1-graph {
        & .num-g {
          padding-left: 0
        }
      }
      :not(:last-child){margin: 0 0 6px}
    }
  }

}
@media only screen and (max-width: 375px) {
  .patient-wrapper{
    padding: 15px;

   & .row-blocs{
      & .col-img-4{

        width: 100% ;
        padding: 0;
        &:first-child{padding-left: 3px}
        &:last-child{padding-right: 7px}

        & .inner1-graph {
          & p{font-size: 11px}
        }
      }
      &:nth-child(2){padding: 0}
     .row-mb{padding:0}
    }
    .pt-50{padding:0}
  }
  .inner-bloc-items h2{font-size: 13px}
}


/// specific styles:
.immunization-date{
  color: #656565;
  display: block;
  font-size: 12px;
  text-align: left;
  line-height: 25px;
  font-weight: bold;
}
