table {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.action-button-bar.topbar {
  margin-bottom: 20px;
}


.table-id-col {
  width: 190px;
}

.table-action-col {
  width: 130px;
}
